* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
body {
  padding: 5% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Mulish', sans-serif;
  position: relative;
}
form {
  position: absolute;
  top: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 650px;
  border: 1px solid transparent;
  border-radius: 5px;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
}
.btn {
  display: flex;
  flex-direction: row;
  width: 85%;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  margin: 1.5vh 0;
  height: 23%;
  box-shadow: 0 0 9px #ccc;
  border: 1px solid transparent;
  border-radius: 5px;
}
.btn > .radio {
  visibility: hidden;
  position: absolute;
}
.btn div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85%;
}
.btn:hover,
#submit:hover {
  transform: scale(1.05);
}
.btn:active,
#submit:active {
  transform: scale(1.02);
}
.icon {
  font-size: 3rem;
  color: #ffe149;
}
.robo {
  color: #40c9ff;
}
#second {
  color: orangered;
}
form input {
  color: black;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ccc;
  text-align: center;
}
#submit {
  margin-top: 2vh;
  color: #fff;
  text-shadow: 1px 1px #94949494;
  box-shadow: 0 0 2px #ccc;
  background-color: #40c9ff;
  padding: 10px;
  font-size: 1.1rem;
}
.players {
  display: flex;
  flex-direction: row;
  margin: 3vh 0;
}
.players i {
  margin: 0 10px 0 0;
}
.second {
  color: #40c9ff;
}
.players div {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  height: 36px;
  padding: 10px;
  margin: 0 5px;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 5px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game-board {
  display: grid;
  gap: 10px;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}
.box {
  background-color: rgba(226, 232, 240, 0.4);
  display: flex;
  box-shadow: 0 0 1px #ccc;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}
