* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
body {
  padding: 5% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Mulish', sans-serif;
  position: relative;
}
.players {
  display: flex;
  flex-direction: row;
  margin: 3vh 0;
}
.players i {
  margin: 0 10px 0 0;
}
.second {
  color: #40c9ff;
}
.players div {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  height: 36px;
  padding: 10px;
  margin: 0 5px;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 5px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game-board {
  display: grid;
  gap: 10px;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}
.box {
  background-color: rgba(226, 232, 240, 0.4);
  display: flex;
  box-shadow: 0 0 1px #ccc;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}
